
@import url('https://fonts.googleapis.com/css2?family=Goldman&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mukta:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');

header{
    position: fixed;
    background-color: cyan;
    top: 0%;
    width: 100%;
    margin-top: 0%;
    padding-top: 2.5%;
    padding-bottom: 2.5% ;
    display: flex;
    font-family: 'Mukta', sans-serif;

   
}
.name_of_store{
    font-family: 'Goldman', cursive ;
    margin: 0%;
    padding: 0%;
    
}
.lista {
    display: inline-block;
}
.lista > a{
    text-decoration-line: none ;
    color: black;
    font-family: 'Dosis', sans-serif;
}
.block-lista{
  margin: 0%;
  text-align: right;
  padding-left: 20%;
}
.collection{
    border: none;
    background-color: cyan;
    color: black;
    font-family: 'Dosis', sans-serif;
}

/*-------------------------------------------------main----------------------------------------*/
main{
    margin: 0;
    padding: 0;
}
.container{
    margin-top: 9%;
    display: grid;
    grid-template-columns: 250px 250px 250px 250px;
    grid-gap: 30px;
    margin-left: 6%;
    margin-right: 5%;
}
.img-fluid{
    width: 250px;
    height: 350px;
    display: block;
}
.mask-icon{
    background-color: black;
    color: white;
    height: 50px;
    text-align: center;
    padding-top: 20px;
}
.cart{
    text-decoration-line: none;
    font-family:  inherit ; 
}
.why-text{
    background: yellow;
    margin-top: -30px;
}
.why-text h5{
    font-family: inherit;
    background: orange;
    font-weight: 600px;
    background-size: 100px;
}
.why-text > h4{
    font-family: inherit;
    margin: 0%;
}
